<!--<app-category></app-category>-->
<h3 style="font-family: 'Microsoft JhengHei'; text-align: center; margin: 10px" *ngIf="isSearch()">搜尋結果:</h3>

<section class="main_category_area">
  <div class="container">
    <div class="row">
      <!-- 左邊篩選bar -->
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="main_category_left">
          <div class="panel-group" id="home-accordion" role="tablist" aria-multiselectable="true">
            <!-- 依分類篩 -->
            <div class="panel panel-default">
              <!-- 標籤 -->
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                <a (click)="showfilter(0)" data-toggle="collapse" data-parent="#home-accordion" aria-expanded="true" aria-controls="collapseOne">
                  依類別篩選
                  <span class="floatright"><i [ngClass]="filterCollapes[0]?'fa fa-minus':'fa fa-plus'"></i></span>
                </a>
                </h4>
              </div>
              <!-- 內容 -->
              <div id="collapseOne" [ngClass]="filterCollapes[0] ? 'panel-collapse collapse in':'panel-collapse collapse'" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                <ul id="c_tab1">
                  <li><a [routerLink]="['/products']" routerLinkActive="router-link-active" (click)="reloadTag('最新推出')">最新推出</a></li>
                  <li><a [routerLink]="['/products']" routerLinkActive="router-link-active" (click)="reloadTag('高效能')">高效能</a></li>
                  <li><a [routerLink]="['/products']" routerLinkActive="router-link-active" (click)="reloadTag('高畫質')">高畫質</a></li>
                  <li><a [routerLink]="['/products']" routerLinkActive="router-link-active" (click)="reloadTag('高記憶體')">高記憶體</a></li>
                  <li><a [routerLink]="['/products']" routerLinkActive="router-link-active" (click)="reloadTag('高續航力')">高續航力</a></li>
                  <li><a [routerLink]="['/products']" routerLinkActive="router-link-active" (click)="reloadTag('輕薄易攜')">輕薄易攜</a></li>
                  <li><a [routerLink]="['/products']" routerLinkActive="router-link-active" (click)="reloadTag('電競筆電')">電競筆電</a></li>
                  <li><a [routerLink]="['/products']" routerLinkActive="router-link-active" (click)="reloadTag('文書筆電')">文書筆電</a></li>
                </ul>
                </div>
              </div>
            </div>
            <!-- 依價錢篩 -->
            <div class="panel panel-default">
              <!-- 標籤 -->
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                <a (click)="showfilter(1)" class="collapsed" data-toggle="collapse" data-parent="#home-accordion" aria-expanded="false" aria-controls="collapseTwo">
                  依價錢篩選
                  <span class="floatright"><i [ngClass]="filterCollapes[1]?'fa fa-minus':'fa fa-plus'"></i></span>
                </a>
                </h4>
              </div>
              <!-- 內容 -->
              <div id="collapseTwo" [ngClass]="filterCollapes[1] ? 'panel-collapse collapse in':'panel-collapse collapse'" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <ul id="c_tab1">
                    <li><a [routerLink]="['/products', {price: 'asc'}]" routerLinkActive="router-link-active" (click)="reloadPrice('asc')">由低至高排序</a></li>
                    <li><a [routerLink]="['/products', {price: 'desc'}]" routerLinkActive="router-link-active" (click)="reloadPrice('desc')">由高至低排序</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- 依尺寸篩 -->
            <div class="panel panel-default">
              <!-- 標籤 -->
              <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                <a (click)="showfilter(2)" class="collapsed" data-toggle="collapse" data-parent="#home-accordion" aria-expanded="false" aria-controls="collapseFour">
                  依尺寸篩選
                  <span class="floatright"><i [ngClass]="filterCollapes[2]?'fa fa-minus':'fa fa-plus'"></i></span>
                </a>
                </h4>
              </div>
              <!-- 內容 -->
              <div id="collapseFour" [ngClass]="filterCollapes[2] ? 'panel-collapse collapse in':'panel-collapse collapse'" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                <ul id="cat_size">
                  <li><a [routerLink]="['/products']" routerLinkActive="router-link-active" (click)="reloadSize(1)">小</a></li>
                  <li><a [routerLink]="['/products']" routerLinkActive="router-link-active" (click)="reloadSize(2)">13吋</a></li>
                  <li><a [routerLink]="['/products']" routerLinkActive="router-link-active" (click)="reloadSize(3)">14吋</a></li>
                  <li><a [routerLink]="['/products']" routerLinkActive="router-link-active" (click)="reloadSize(4)">15吋</a></li>
                  <li><a [routerLink]="['/products']" routerLinkActive="router-link-active" (click)="reloadSize(5)">17吋</a></li>
                </ul>
                </div>
              </div>
            </div>
            <!-- 依品牌篩 -->
            <div class="panel panel-default">
              <!-- 標籤 -->
              <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                <a (click)="showfilter(3)" class="collapsed" data-toggle="collapse" data-parent="#home-accordion" aria-expanded="false" aria-controls="collapseFive">
                  依品牌篩選
                  <span class="floatright"><i [ngClass]="filterCollapes[3]?'fa fa-minus':'fa fa-plus'"></i></span>
                </a>
                </h4>
              </div>
              <!-- 內容 -->
              <div id="collapseFive" [ngClass]="filterCollapes[3] ? 'panel-collapse collapse in':'panel-collapse collapse'" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                <ul id="c_tab2">
                  <li><a [routerLink]="['/products']" routerLinkActive="router-link-active" (click)="reloadBrand(1)">Apple Mac</a></li>
                  <li><a [routerLink]="['/products']" routerLinkActive="router-link-active" (click)="reloadBrand(2)">MSI 微星</a></li>
                  <li><a [routerLink]="['/products']" routerLinkActive="router-link-active" (click)="reloadBrand(3)">ASUS 華碩</a></li>
                  <li><a [routerLink]="['/products']" routerLinkActive="router-link-active" (click)="reloadBrand(4)">Acer 宏碁</a></li>
                  <li><a [routerLink]="['/products']" routerLinkActive="router-link-active" (click)="reloadBrand(5)">Lenovo 聯想</a></li>
                  <li><a [routerLink]="['/products']" routerLinkActive="router-link-active" (click)="reloadBrand(6)">Hp 惠普</a></li>
                </ul>
                </div>
              </div>
            </div>
            <!-- 依作業系統篩 -->
            <div class="panel panel-default">
              <!-- 標籤 -->
              <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                <a (click)="showfilter(4)" class="collapsed" data-toggle="collapse" data-parent="#home-accordion" aria-expanded="false" aria-controls="collapseFive">
                  依作業系統篩選
                  <span class="floatright"><i [ngClass]="filterCollapes[4]?'fa fa-minus':'fa fa-plus'"></i></span>
                </a>
                </h4>
              </div>
              <!-- 內容 -->
              <div id="collapseFive" [ngClass]="filterCollapes[4] ? 'panel-collapse collapse in':'panel-collapse collapse'" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                <ul id="c_tab2">
                  <li><a [routerLink]="['/products', {os: 1}]" routerLinkActive="router-link-active" (click)="reloadOS(1)">Windows</a></li>
                  <li><a [routerLink]="['/products', {os: 2}]" routerLinkActive="router-link-active" (click)="reloadOS(2)">MacOS</a></li>
                  <li><a [routerLink]="['/products', {os: 3}]" routerLinkActive="router-link-active" (click)="reloadOS(3)">Linux</a></li>
                </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 右邊商品展示 -->
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="main_category_right">
          <!-- 商品們 -->
          <div class="row">
            <!-- 單個商品窗 -->
            <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let product of products; let i = index">
              <div *ngIf="((i<(currentPage*12)) && (i>=((currentPage*12)-12)))" class="main_cat_item">
                <div class="item">
                  <div class="item-img">
                    <img src="{{backend}}/{{product?.img}}" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="tr_text" (click)="add(product?.id)">加入至購物車<i class='fa fa-shopping-cart tr_cart'></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>Wow</p>
                    <span>{{-(1-(9-userLevel)/8)*100}}%</span>
                  </div>
                  <div class="item-sub">
                    <a [routerLink]="[product?.id]"><h5>{{ product?.name }}</h5></a>
                    <p>$ {{ product?.price * (1-(9-userLevel)/8) }} <span><del>$ {{ product?.price }}</del></span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 底下頁數列 -->
          <div *ngIf="pdtLength > 0; else nocontent" class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="pagi_line"></div>
              <div class="pagi_ul">
                <ul id="pagination">
                  <li><a *ngIf="currentPage>1" (click)="turnPage(-1)" style="cursor: pointer">Previous</a></li>
                  <li>{{currentPage}}</li>
                  <li><a *ngIf="showPage(0)" (click)="turnPage(1)" style="cursor: pointer">{{currentPage+1}}</a></li>
                  <li><a *ngIf="showPage(1)" (click)="turnPage(2)" style="cursor: pointer">{{currentPage+2}}</a></li>
                  <li><a *ngIf="showPage(2)" (click)="turnPage(3)" style="cursor: pointer">{{currentPage+3}}</a></li>
                  <li><a *ngIf="showPage(3)" (click)="turnPage(4)" style="cursor: pointer">{{currentPage+4}} ...</a></li>
                  <li><a *ngIf="showPage(0)" (click)="turnPage(1)" style="cursor: pointer">Next</a></li>
                </ul>
              </div>
            </div>
          </div>
          <ng-template #nocontent>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <h2>Oh No! We Don't Have This Kind of Laptop Now!</h2>
              <h4>Please Wait Forever.</h4>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>
