<!--<app-category></app-category>-->

<div *ngFor="let product of products" class="product">
<img class="product-img" src="{{backend}}/{{product.img}}">
<div class="product-actions">
  <div class="product-info">
    <div class="info-block">
      <div class="product-title">{{ product.name }}</div>
      <div class="product-description">{{ product.description }}</div>
      <div class="product-sale">${{ product.price }}</div>
      <div ><button class="link_detail" (click)="detail(product.id)">詳細</button></div>
      <div ><button class="add" (click)="add(product.id)">加入購物車</button></div>
    </div>
  </div>
</div>
</div>


