.cart{
  display: flex;
  flex-wrap: wrap;
}

.product{
  display: flex;
  width: 33%;
  flex-direction: column;
}

.product h2{
  font-size: 1rem;
  font-weight: bold;
}

.product img{
  width: 100%;
  height: auto;
}
