<section class="main_cart_area">
  <div class="container">
    <div class="row">

      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="main_cart_left">
          <div class="cart_heading">

            <div class="h_item1">
              <p>商品</p>
            </div>
            <div class="h_item2">
              <p>價格</p>
            </div>
            <div class="h_item3">
              <p>數量</p>
            </div>
            <div class="h_item4">
              <p>小計</p>
            </div>
          </div>

          <!-- cart item -->
          <div *ngFor="let item of items" class="cart_item">
            <div class="cart_item_img">
              <img src="{{backend}}/{{item.product.img}}"/>
              <p><a [routerLink]="['/products/',item.product.id]" routerLinkActive="active" >{{item.product.name}}</a></p>
            </div>
            <div class="cart_price">
              <p> ${{item.product.price * myDiscount}}</p>
            </div>
            <div class="cart_quantity">
              <ul>
                <li><a (click)="update(item.id,-1)"><i class="fa fa-minus"></i></a></li>
                <li>{{item.quantity}}</li>
                <li><a (click)="update(item.id,1)"><i class="fa fa-plus"></i></a></li>
              </ul>
            </div>
            <div class="cart_total">
              <p> $ {{ item.product.price * myDiscount * item.quantity}}<i (click)="remove(item.id)" class="fa fa-close"></i></p>
            </div>
          </div>

          <!-- 優惠券 -->
          <div class="coupon_box">
            <input type="text" placeholder="優惠券代碼"/>
            <input type="submit" value="套用">
          </div>

        </div>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="main_cart_right">
          <div class="product_form_total">
            <div class="panel-group" id="home-accordion" role="tablist" aria-multiselectable="true">

              <div class="panel panel-default">

                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">Cart totals</h4>
                </div>

                <div class="panel-body cart_p_body">
                  <div class="c_single_item">
                    <p>商品小計</p>
                    <span>${{total}}</span>
                  </div>
                  <div class="c_single_item cart_last_total">
                    <p>運費</p>
                    <span>Free</span>
                  </div>
                  <div class="c_total_item sp_single_item">
                    <p>總額</p>
                    <span>${{total + ship}}</span>
                  </div>
                </div>

              </div>
            </div>
            <input (click)="checkout()" type="submit" value="結帳">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
