ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center;
}

li a {
  color: #fff;
  display: block;
  text-align: center;
  padding: 12px 12px;
  margin-left: 24px;
  margin-right: 24px;
  text-decoration: none;
}

.router-link-active {
  background-color: #4caf50;
}
