<!-- 展示商品 -->
<section class="promotion_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="promo_inner">
          <div class="row">
            <!-- 左邊 -->
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="promotion_left">
                <!-- 上面 -->
                <div class="promotion_top">
                  <div class="images_box">
                    <img src="assets/images/best_seller.jpg" alt="best_seller" />
                  </div>
                  <div class="promo_text">
                    <h5 class="title">最新推出</h5>
                    <div class="p_line"></div>
                    <a [routerLink]="['/products', {tag: '最新推出'}]">讓我看看 <i class="fa fa-caret-right"></i></a>
                  </div>
                  <div class="hover_images">
                    <img src="assets/images/best_seller.jpg" alt="best_seller" />
                  </div>
                </div>
                <!-- 下面 -->
                <div class="promotion_bottom">
                  <div class="images_box">
                    <img src="assets/images/high_q.jpg" alt="high_q" />
                  </div>
                  <div class="promo_text_bottom">
                    <h5 class="title">高效能</h5>
                    <div class="p_line"></div>
                    <a [routerLink]="['/products', {tag: '高效能'}]">讓我看看 <i class="fa fa-caret-right"></i></a>
                  </div>
                  <div class="hover_images_bottom hover_images">
                    <img src="assets/images/high_q.jpg" alt="high_q" />
                  </div>
                </div>

              </div>
            </div>
            <!-- 右邊 -->
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="promotion_right">
                <div class="promotion_bottom promotion_bottom_t">
                  <div class="images_box">
                    <img src="assets/images/light_laptop.jpg" alt="light_laptop" />
                  </div>
                  <div class="promo_text promo_text_t">
                    <h5 class="title">輕薄易攜</h5>
                    <div class="p_line"></div>
                    <a [routerLink]="['/products', {tag: '輕薄易攜'}]">讓我看看 <i class="fa fa-caret-right"></i></a>
                  </div>
                  <div class="hover_images_bottom hover_images">
                    <img src="assets/images/light_laptop.jpg" alt="light_laptop" />
                  </div>
                </div>
                <div class="promotion_top promotion_bottom_b">
                  <div class="images_box">
                    <img src="assets/images/e_sport.jpg" alt="e_sport" />
                  </div>
                  <div class="promo_text_bottom promo_text_b">
                    <h5 class="title">電競筆電</h5>
                    <div class="p_line"></div>
                    <a [routerLink]="['/products', {tag: '電競筆電'}]">讓我看看 <i class="fa fa-caret-right"></i></a>
                  </div>
                  <div class="hover_images">
                    <img src="assets/images/e_sport.jpg" alt="e_sport" />
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

