<section class="fresh_blog_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="fresh_blog">
        <h2>精選商品</h2>
        <div class="multi_line"></div>

        <div id="blog-caro" class="carousel slide" data-ride="carousel">

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <!-- 第一頁 -->
            <div [ngClass]="freshslide == 0 ? 'item active':'item'">
              <div class="row">
                <!-- 商品01 -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="fresh_blog_text">
                    <h2>{{getRandPdt(0)?.name}}</h2>
                    <div class="months">
                      <div class="month_right">
                        <p>推出日期: {{getRandPdt(0)?.created_at}}</p>
                        <!-- <span><i class="far fa-comment-dots"></i>n 則留言</span> -->
                      </div>
                      <div class="fresh_blog_bottom_text">
                        <h4>#Tags: {{getRandPdt(0)?.tags}}</h4>
                        <div class="view_post">
                          <a class=""  [routerLink]="['/products', getRandPdt(0)?.id]">讓我看看
                          <i class="fas fa-angle-double-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="fresh_blog_img">
                    <img src="{{backend}}/{{getRandPdt(0)?.img}}" alt="" />
                  </div>
                </div>
                <!-- 商品02 -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="fresh_blog_text">
                      <h2>{{getRandPdt(1)?.name}}</h2>
                      <div class="months">
                        <div class="month_right">
                          <p>推出日期: {{getRandPdt(1)?.created_at}}</p>
                          <!-- <span><i class="far fa-comment-dots"></i>n 則留言</span> -->
                        </div>
                        <div class="fresh_blog_bottom_text">
                          <h4>#Tags: {{getRandPdt(1)?.tags}}</h4>
                          <div class="view_post">
                            <a class="" [routerLink]="['/products', getRandPdt(1)?.id]">讓我看看
                            <i class="fas fa-angle-double-right"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="fresh_blog_img">
                      <img src="{{backend}}/{{getRandPdt(1)?.img}}" alt="" />
                    </div>
                </div>
              </div>
            </div>
            <!-- 第二頁 -->
            <div [ngClass]="freshslide == 1 ? 'item active':'item'">
                <div class="row">
                    <!-- 商品01 -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="fresh_blog_text">
                        <h2>{{getRandPdt(2)?.name}}</h2>
                        <div class="months">
                          <div class="month_right">
                            <p>推出日期: {{getRandPdt(2)?.created_at}}</p>
                            <!-- <span><i class="far fa-comment-dots"></i>n 則留言</span> -->
                          </div>
                          <div class="fresh_blog_bottom_text">
                            <h4>#Tags: {{getRandPdt(2)?.tags}}</h4>
                            <div class="view_post">
                              <a class="" [routerLink]="['/products', getRandPdt(2)?.id]">讓我看看
                              <i class="fas fa-angle-double-right"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="fresh_blog_img">
                        <img src="{{backend}}/{{getRandPdt(2)?.img}}" alt="" />
                      </div>
                    </div>
                    <!-- 商品02 -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="fresh_blog_text">
                          <h2>{{getRandPdt(3)?.name}}</h2>
                          <div class="months">
                            <div class="month_right">
                              <p>推出日期: {{getRandPdt(3)?.created_at}}</p>
                              <!-- <span><i class="far fa-comment-dots"></i>n 則留言</span> -->
                            </div>
                            <div class="fresh_blog_bottom_text">
                              <h4>#Tags: {{getRandPdt(3)?.tags}}</h4>
                              <div class="view_post">
                                <a class="" [routerLink]="['/products', getRandPdt(3)?.id]">讓我看看
                                <i class="fas fa-angle-double-right"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="fresh_blog_img">
                          <img src="{{backend}}/{{getRandPdt(3)?.img}}" alt="" />
                        </div>
                    </div>
                </div>
            </div>
          </div>

          <!-- Controls -->
          <a (click)='goLeft()' class="left carousel-control" role="button" data-slide="prev">
          <i class='fa fa-angle-left'></i>
          </a>
          <a (click)='goRight()' class="right carousel-control" role="button" data-slide="next">
          <i class='fa fa-angle-right'></i>
          </a>
        </div>


        </div>
      </div>
    </div>
  </div>
</section>
