<section class="fresh_blog_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="fresh_blog">
        <h2>最新推出</h2>
        <div class="multi_line"></div>

        <div id="blog-caro" class="carousel slide" data-ride="carousel">

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="fresh_blog_text">
                  <h2>筆電名稱</h2>
                  <div class="months">
                    <div class="month_right">
                      <p>推出日期 2018/12/04</p>
                      <span><i class="fa fa-comment-o"></i>n 則留言</span>
                    </div>
                    <div class="fresh_blog_bottom_text">
                      <h4>底下文字(簡短)</h4>
                      <div class="view_post">
                        <a class="" href="">讓我看看
                        <i class="fa fa-long-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="fresh_blog_img">
                  <img src="assets/images/blog1.jpg" alt="" />
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="fresh_blog_text">
                  <h2><span>_</span> 12</h2>
                  <div class="months">
                    <div class="month_right">
                      <p>April 2015 </p>
                      <span><i class="fa fa-comment-o"></i>9</span>
                    </div>
                    <div class="fresh_blog_bottom_text">
                      <h4>trendy cloth designs made from<br> our team</h4>
                      <p>Trendy Collection</p>
                      <div class="view_post">
                        <a class="" href="">view post
                        <i class="fa fa-long-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="fresh_blog_img">
                  <img src="images/blog2.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="fresh_blog_text">
                  <h2><span>_</span> 11</h2>
                  <div class="months">
                    <div class="month_right">
                      <p>April 2015 </p>
                      <span><i class="fa fa-comment-o"></i>12</span>
                    </div>
                    <div class="fresh_blog_bottom_text">
                      <h4>trendy cloth designs made from<br> our team</h4>
                      <p>Trendy Collection</p>
                      <div class="view_post">
                        <a class="" href="">view post
                        <i class="fa fa-long-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="fresh_blog_img">
                  <img src="images/blog1.jpg" alt="" />
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="fresh_blog_text">
                  <h2><span>_</span> 10</h2>
                  <div class="months">
                    <div class="month_right">
                      <p>April 2015 </p>
                      <span><i class="fa fa-comment-o"></i>9</span>
                    </div>
                    <div class="fresh_blog_bottom_text">
                      <h4>trendy cloth designs made from<br> our team</h4>
                      <p>Trendy Collection</p>
                      <div class="view_post">
                        <a class="" href="">view post
                        <i class="fa fa-long-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="fresh_blog_img">
                  <img src="images/blog2.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#blog-caro" role="button" data-slide="prev">
          <i class='fa fa-angle-left'></i>
          </a>
          <a class="right carousel-control" href="#blog-caro" role="button" data-slide="next">
          <i class='fa fa-angle-right'></i>
          </a>
        </div>



        </div>
      </div>
    </div>
  </div>
</section>
