<section class="main_category_area product_page_caro">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="main_category_right product-box">
					<h3 class="product">related products</h3>
					<div class="multi_line"></div>
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div id="owl-example-single" class="owl-carousel">
								  <div class="item">
									<div class="item-img">
										<img src="assets/images/t_item16.jpg" alt="" />
										<div class="tr-add-cart">
											<ul>
												<li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
												<li><a class="tr_text" href="#">ADD TO CART</a></li>
												<li><a class="fa fa-heart tr_heart" href="#"></a></li>
												<li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
											</ul>
										</div>
									</div>
									<div class="item-new">
										<p>New</p>
									</div>
									<div class="item-sub">
										<a href="product-detail.html"><h5>AROS SLIM HEAVY CHINO</h5></a>
										<p>$ 181.00 <span><del>$ 212.00</del></span></p>
									</div>
								  </div>
								  <div class="item">
									<div class="item-img">
										<img src="assets/images/t_item13.jpg" alt="img here" />
										<div class="tr-add-cart">
											<ul>
												<li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
												<li><a class="tr_text" href="#">ADD TO CART</a></li>
												<li><a class="fa fa-heart tr_heart" href="#"></a></li>
												<li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
											</ul>
										</div>
									</div>
									<div class="item-new">
										<p>New</p>
										<span>-10%</span>
									</div>
									<div class="item-sub">
										<a href="product-detail.html"><h5>men’s fashion blue jean coat</h5></a>
										<p>$ 130.00 <span><del>$ 150</del></span></p>
									</div>
								  </div>
								  <div class="item">
									<div class="item-img">
										<img src="assets/images/t_item11.jpg" alt="" />
										<div class="tr-add-cart">
											<ul>
												<li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
												<li><a class="tr_text" href="#">ADD TO CART</a></li>
												<li><a class="fa fa-heart tr_heart" href="#"></a></li>
												<li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
											</ul>
										</div>
									</div>
									<div class="item-new">
										<p>New</p>
									</div>
									<div class="item-sub">
										<a href="product-detail.html"><h5>houndsmooth wool t-shirt</h5></a>
										<p>$ 168<span><del>$ 212</del></span></p>
									</div>
								  </div>
								  <div class="item">
									<div class="item-img">
										<img src="assets/images/t_item12.jpg" alt="" />
										<div class="tr-add-cart">
											<ul>
												<li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
												<li><a class="tr_text" href="#">ADD TO CART</a></li>
												<li><a class="fa fa-heart tr_heart" href="#"></a></li>
												<li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
											</ul>
										</div>
									</div>
									<div class="item-new">
										<p>New</p>
										<span>-10%</span>
									</div>
									<div class="item-sub">
										<a href="product-detail.html"><h5>structured collarless coat</h5></a>
										<p>$ 133.20<span><del>$ 140.00</del></span></p>
									</div>
								  </div>
								  <div class="item">
									<div class="item-img">
										<img src="assets/images/t_item1.jpg" alt="" />
										<div class="tr-add-cart">
											<ul>
												<li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
												<li><a class="tr_text" href="#">ADD TO CART</a></li>
												<li><a class="fa fa-heart tr_heart" href="#"></a></li>
												<li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
											</ul>
										</div>
									</div>
									<div class="item-new">
										<p>New</p>
										<span>-10%</span>
									</div>
									<div class="item-sub">
										<a href="product-detail.html"><h5>houndsmooth wool t-shirt</h5></a>
										<p>$90.00 <span><del>$100</del></span></p>
									</div>
								  </div>
								  <div class="item">
									<div class="item-img">
										<img src="assets/images/t_item2.jpg" alt="" />
										<div class="tr-add-cart">
											<ul>
												<li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
												<li><a class="tr_text" href="#">ADD TO CART</a></li>
												<li><a class="fa fa-heart tr_heart" href="#"></a></li>
												<li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
											</ul>
										</div>
									</div>
									<div class="item-new">
										<p>New</p>
										<span>-10%</span>
									</div>
									<div class="item-sub">
										<a href="product-detail.html"><h5>AROS SLIM HEAVY CHINO</h5></a>
										<p>$90.00 <span><del>$100</del></span></p>
									</div>
								  </div>
								  <div class="item">
									<div class="item-img">
										<img src="assets/images/t_item3.jpg" alt="" />
										<div class="tr-add-cart">
											<ul>
												<li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
												<li><a class="tr_text" href="#">ADD TO CART</a></li>
												<li><a class="fa fa-heart tr_heart" href="#"></a></li>
												<li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
											</ul>
										</div>
									</div>
									<div class="item-new">
										<p>New</p>
									</div>
									<div class="item-sub">
										<a href="product-detail.html"><h5>AROS SLIM HEAVY CHINO</h5></a>
										<p>$90.00</p>
									</div>
								  </div>
								  <div class="item">
									<div class="item-img">
										<img src="assets/images/t_item2.jpg" alt="" />
										<div class="tr-add-cart">
											<ul>
												<li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
												<li><a class="tr_text" href="#">ADD TO CART</a></li>
												<li><a class="fa fa-heart tr_heart" href="#"></a></li>
												<li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
											</ul>
										</div>
									</div>
									<div class="item-new">
										<p>New</p>
									</div>
									<div class="item-sub">
										<a href="product-detail.html"><h5>houndsmooth wool t-shirt</h5></a>
										<p>$90.00</p>
									</div>
								  </div>
								  <div class="item">
									<div class="item-img">
										<img src="assets/images/t_item3.jpg" alt="" />
										<div class="tr-add-cart">
											<ul>
												<li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
												<li><a class="tr_text" href="#">ADD TO CART</a></li>
												<li><a class="fa fa-heart tr_heart" href="#"></a></li>
												<li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
											</ul>
										</div>
									</div>
									<div class="item-new">
										<p>New</p>
										<span>-10%</span>
									</div>
									<div class="item-sub">
										<a href="product-detail.html"><h5>AROS SLIM HEAVY CHINO</h5></a>
										<p>$110.00 <span><del>$120</del></span></p>
									</div>
								  </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
